<p id="notice"><%= notice %></p>

<h1>Blender Art Projects</h1>

<table class="table table-bordered">
  <thead>
    <tr>
		<th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Image url</th>
      <th scope="col">Link</th>
      <th  scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blender_arts.each do |blender_art| %>
      <tr>
		  <th scope="row"><%= blender_art.id %></th>
        <td><%= blender_art.name %></td>

        <td><img src="<%= blender_art.image_url%>" class="img-fluid" alt="<%= blender_art.name %>"/></td>
        <td><%= blender_art.link %></td>
        <td><%= link_to 'Show', blender_art %></td>
        <td><%= link_to 'Edit', edit_blender_art_path(blender_art) %></td>
        <td><%= link_to 'Destroy', blender_art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blender Art', new_blender_art_path , class:"btn btn-primary" %>
