<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blender_art.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blender_art.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @blender_art.image_url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @blender_art.link %>
</p>

<%= link_to 'Edit', edit_blender_art_path(@blender_art) %> |
<%= link_to 'Back', blender_arts_path %>
