<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web_app.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @web_app.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @web_app.image_url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @web_app.link %>
</p>

<%= link_to 'Edit', edit_web_app_path(@web_app) %> |
<%= link_to 'Back', web_apps_path %>
