<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mobile_app.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mobile_app.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @mobile_app.image_url %>
</p>

<p>
  <strong>Store link:</strong>
  <%= @mobile_app.store_link %>
</p>

<%= link_to 'Edit', edit_mobile_app_path(@mobile_app) %> |
<%= link_to 'Back', mobile_apps_path %>
